/*	Medium Layout: 1280px	*/
@media only screen and (min-width: 992px) and (max-width: 1200px) {}



/*		Tablet Layout: 768px.       */

@media only screen and (min-width: 768px) and (max-width: 991px) {}




/*		Tablet and Mobile Layout         */
@media only screen and (max-width: 991px) {}


/*		Mobile Layout: 320px.         */

@media only screen and (max-width: 767px) {

	.header-right h4 {
		font-size: 20px;
	}

	.whatsUp-call {
		top: 0;
	}

	.welcome-right h1 {
		font-size: 25px;
		margin-bottom: 15px;
	}

	.welcome-form h3 {
		font-size: 16px;
	}

	.welcome-form.desktop-view {
		display: none;
	}

	.mobile-view {
		display: block;
	}

	.long-arrow {
		right: 0;
	}

	.single-footer-item {
		margin: 15px 0;
	}

	.welcome-bottom-right h3 {
		margin-top: 15px;
	}

}



/*		Wide Mobile Layout: 480px.        */

@media only screen and (min-width: 480px) and (max-width: 767px) {}





/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {

	/* css */

}